<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
</head>
<body>

<h2>read_db</h2>
<table border=2>
<td>{{_no}}</td>
<td>{{_title}}</td>
<td>{{_content}}</td>
<td>{{_writer}}</td>
<td>{{_date}}</td>
<td>{{_view}}</td>
</table>
</body>
</html>