<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2>print_record</h2>
<table border=2>
<tr>
<!-------------------------------------------->
<td>{{title}}</td>
<td>{{content}}</td>
<td>{{writer}}</td>
<!-------------------------------------------->
</tr>
</table>
</body>
</html>